@{
    ViewBag.Title = "EditImg";
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

@section croppie{
    <script src="~/Content/assets/js/croppie.js"></script>
}

@section css{

    <link href="~/Content/assets/css/croppie.css" rel="stylesheet" />
}



@*@using (Html.BeginForm("EditImg", "OnlyMember", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
       @Html.AntiForgeryToken()*@
<main id="main">
    <!-- ======= 頁面導航 Section ======= -->
    <section class="breadcrumbs">
        <div class="container">

            <div class="d-flex justify-content-between align-items-center">
                <h2 style="font-weight: 700;">編輯頭像</h2>
                <ol>
                    <li><a href="@Url.Action("Index", "Home")" style="font-size:16px;">首頁</a></li>
                    <li><a href="@Url.Action("List", "OnlyMember", new { id = (int)Session["ID"]})" style="font-size:16px;">個人檔案</a></li>
                    <li style="font-size:16px; font-weight: 600;">編輯頭像</li>
                </ol>
            </div>

        </div>
    </section><!-- End Section -->

    <section class="">
        <div class="container emp-profile">
            <div class="row" style="margin-bottom: 50px;">
                <div class="col-6">
                    <label class="btn btn-secondary">
                        <input id="upload_img" style="display:none;" type="file"
                               accept="image/*"><i class="fa fa-photo"></i> 選擇照片
                    </label>
                    <div id="oldImg" style="display:none;"></div>
                </div>

                <!--功能重複可以拿掉-->
                @*<div class="col-6">
                    <button id="crop_img" class="btn btn-secondary"><i class="fa fa-scissors"></i> 裁剪照片</button>
                    <div id="newImgInfo"></div>
                    <div id="newImg" class="mt-1"></div>
                </div>*@

            </div>
            <div class="row" style="margin-top: 50px;">
                <div class="col-12">
                    <button class="btn btn-secondary" id="btndownload"><i class="fa fa-upload"></i>確定上傳照片</button>
                </div>
            </div>
        </div>

        @*<input type="text" id="idAgainCode" value="<%=session.getValue(" code")%>" />*@

        <input type="hidden" name="memberID" value="@Session["ID"]" id="imgID" />



    </section>
</main>

    @*@section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }*@
    <script>
        (function ($) {
            var width_crop = 200, // 圖片裁切寬度 px 值
                height_crop = 200, // 圖片裁切高度 px 值
                type_crop = "circle", // 裁切形狀: square 為方形, circle 為圓形
                width_preview = 200, // 預覽區塊寬度 px 值
                height_preview = 200, // 預覽區塊高度 px 值
                compress_ratio = 0.8, // 圖片壓縮比例 0~1
                type_img = "jpeg", // 圖檔格式 jpeg png webp
                oldImg = new Image(),
                myCrop, file, oldImgDataUrl;

        // 裁切初始參數設定
        myCrop = $("#oldImg").croppie({
        viewport:
            { // 裁切區塊
            width: width_crop,
            height: height_crop,
            type: type_crop
        },
        boundary:
            { // 預覽區塊
            width: width_preview,
            height: height_preview
        }
        });

        function readFile(input)
        {
            if (input.files && input.files[0])
            {
                file = input.files[0];
            }
            else
            {
                alert("瀏覽器不支援此功能！建議使用最新版本 Chrome");
                return;
            }

            if (file.type.indexOf("image") == 0)
            {
                var reader = new FileReader();

                    reader.onload = function (e) {
                        oldImgDataUrl = e.target.result;
                        oldImg.src = oldImgDataUrl; //載入 oldImg 取得圖片資訊
                        myCrop.croppie("bind", {
                            url: oldImgDataUrl
                        });
                    };

                reader.readAsDataURL(file);
            } else
            {
                alert("您上傳的不是圖檔！");
            }
        }

function displayCropImg(src)
{
var html = "<img src='" + src + "' />";
    $("#newImg").html(html);
//alert(src);
}

            $("#upload_img").on("change", function () {
                $("#oldImg").show();
                readFile(this);
            });

oldImg.onload = function()
{
var width = this.width,
    height = this.height,
    fileSize = Math.round(file.size / 1000),
    html = "";

                //html += "<p>原始圖片尺寸 " + width + "x" + height + "</p>";
                //html += "<p>檔案大小約 " + fileSize + "k</p>";
                $("#oldImg").before(html);
            };

function displayNewImgInfo(src)
{
var html = "",
    filesize = src.length * 0.75;

                //html += "<p>裁切圖片尺寸 " + width_crop + "x" + height_crop + "</p>";
                //html += "<p>檔案大小約 " + Math.round(filesize / 1000) + "k</p>";
                $("#newImgInfo").html(html);
            }

            $("#crop_img").on("click", function () {
                myCrop.croppie("result", {
                    type: "canvas",
                    format: type_img,
                    quality: compress_ratio
                }).then(function (src) {
                    displayCropImg(src);
                    displayNewImgInfo(src);
                    //console.log(src);
                });
            });


@*$('#btndownload').on("click",function (src) {
        myCrop.croppie("result", {
            type: "base64",
            format: type_img,
            quality: compress_ratio
        }).then(function (src) {
            //console.log(src);
            $.ajax({
                url: '@Url.Action("Create","Member")',
                type: "POST",
                data: { m_imgPath: src },
                contentType: "application/json; charset=utf-8",
                datatype: "json",
                success: function (result) {

                            if (result.toString() == "pass") {

                    }
                    else {
                    }
                },
                error: function (result) {
                }

            });
            return false;
        });
    });*@

      var sessionId = $('#imgID').val();
      console.log(sessionId);
      $('#btndownload').on('click', function () {

            myCrop.croppie('result', 'blob').then(function(blob) {
                var formData = new FormData();
                formData.append('imgID', sessionId);
                formData.append('img', blob);

                var MyAppUrlSettings = {
                        MyUsefulUrl:'@Url.Action("EditImg", controllerName:"OnlyMember")'
                    }
                    var request = new XMLHttpRequest();
                    request.open('POST', MyAppUrlSettings.MyUsefulUrl);
                    request.send(formData);
                window.location.href = "@Url.Action("List","OnlyMember",new {id=Session["ID"] })";


                    @*$.ajax({
                        url: '@Url.Action("EditImg","OnlyMember")',
                        type: "POST",
                        data: formData,
                        //contentType: "application/json; charset=utf-8",
                        //datatype: "json",
                        success: function(result) {
                            if (result.toString() == "ok") {
                                alert(result);
                            }
                            else {
                                alert(result);
                            }
                        }

                    });*@
            });

        });

        })(jQuery);

    </script>

